/* Container styling */
.sellers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-image: url('../../../public/assets/img/contact.jpg'); /* Background image */
  background-size: cover; /* Ensure image covers container */
  background-position: center; /* Center image */
}

/* Card container styling */
.sellers-contact-card{
  width: 1300px; 
  height: 800px; 
  flex-shrink: 0; /* Prevent container from shrinking */
  border-radius: 16px; /* Rounded corners */
  background: rgba(8, 22, 21, 0.94); /* Semi-transparent background */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center child elements vertically */
  align-items: center; /* Center child elements horizontally */
  padding: 30px; /* Add padding inside container */
  color: white; /* Text color */
}

/* Title styling */
.sellers-title {
  font-size: 35px; /* Font size */
  text-align: center; /* Center text */
  margin-bottom: 20px; /* Space below title */
}

/* Text content styling */
.sellers-text {
  font-size: 25px; /* Font size */
  line-height: 1.6; /* Spacing between lines */
  margin-bottom: 40px; /* Space below paragraphs */
}

.sellers-contact-form {
  width: 200%; /* Make the form full width */
  max-width: 1000px; /* Limit the maximum width */
  margin: 0px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.form-group {
  margin: 0 auto 20px auto; /* Center the form group horizontally and add bottom margin */
  width: 90%; /* Set the width to a wider percentage */
  max-width: 600px; /* Optionally, set a maximum width for the form group */
}

  


input[type="text"],
input[type="email"],
textarea {
  width: 300%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
