.buy-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/assets/img/whitebackground.jpg); 
  background-repeat: no-repeat;
  background-position: 80% 50%;
  color: white;
  height: 100vh;
}

.lot-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(33% - 40px); /* Adjust the width of each container */
  max-width: 300px; /* Set maximum width if needed */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
}

/* BELOW WILL NEED TO BE ADJUSTED WHEN WE GET CONTENT ADDED */
.lot-image {
  width: 289px;
  height: 322px;
  flex-shrink: 0; 
}

.lot-description {
  width: 275px;
  height: 171px;
  flex-shrink: 0;
  font-size: 25px;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 2.25px;
}

.bid-button {
  width: 219px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 11px;
  background: rgba(5, 25, 24, 0.94);
}

.bid-button:hover {
  background-color: #d9d9d1;
}
