.buy-page{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-image: url(../../../public/assets/img/whitebackground.jpg); 
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-position: 80% 50%; /* Center the background image */
  color: white; /* Set font color to white */
  height: 100vh; /*This is what sets the size of the whole page - 
  we currently need to scroll because it is set to 100 (as it should be) and the navbar and footer styled have not been properly set.
  When those styles are set we can come back and adjust card stylings as needed to a cohesive look */
}

.app{
  display: flex;
  justify-content: center; /* Adjusted to center children */
  align-items: center; /* Align items vertically */
  flex-wrap: wrap; /* Correct property to allow items to wrap */
  gap: 20px; /* Space between items */
  padding: 20px; /* Padding around the container */
  max-width: 1280px; /* Max width of the app container */
  width: 100%; /* Full width */
}

.product-details-card {
  width: 1000px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 10x;
  background: rgba(8, 22, 21, 0);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 20px; /* Padding to create space between text and card edges */
  margin-right: 10px;
}

.product-details {
  text-align: center;
}

.product-title {
  font-size: 30px;
  color:#000000;
}

.product-description {
  font-size: 20px;
  margin-bottom: 20px;
  color:#000000;
}

.product-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.bid-title {
  font-size: 30px;
  margin-bottom: 20px;
  color:#000000;
}

.bid-input {
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  color: #000000;
  margin-right: 5px;
  font-size: 25px;
}
.bid-submit {
  width: px;
  height: 60px;
  flex-shrink: 0;
  background-color: #bf5e22e1; 
  border: none; /* Remove button border */
  color: #d9d9d1 ; /* Set button text color*/
  font-size: 25px; /* Set button font size */
  cursor: pointer;
  margin-bottom: 100px;
}

.bid-submit:hover{
  background-color: #d9d9d1; /* Example color on hover */
}

.product-image {
  background-image: url(../../../public/assets/img/lotone.jpg);
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-position: center; /* Center the background image */
  background-size: cover; /* Ensure the background image covers the entire container */
  width: 300px; /* Adjust the width of the container as needed */
  height: 400px; /* Adjust the height of the container as needed */
}
