/* Container styling */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh; /* Full viewport height */
  background-image: url('../../../public/assets/img/whitebackground.jpg'); /* Background image */
  background-size: cover; /* Ensure image covers container */
  background-position: center; /* Center image */
  margin-bottom: 50px;
}

/* Card container styling */
.about-card-container {
  width: 1300px; 
  height: 600px; 
  flex-shrink: 0; /* Prevent container from shrinking */
  border-radius: 16px; /* Rounded corners */
  background: rgba(8, 22, 21, 0.94); /* Semi-transparent background */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center child elements vertically */
  align-items: center; /* Center child elements horizontally */
  padding: 30px; /* Add padding inside container */
  color: white; /* Text color */
}

/* Title styling */
.about-title {
  font-size: 35px; /* Font size */
  text-align: center; /* Center text */
  margin-bottom: 20px; /* Space below title */
}

/* Subtitle styling */
.about-subtitle {
  font-size: 25px; /* Font size */
  line-height: 1.6; /* Spacing between lines */
  margin-bottom: 20px; /* Space below subtitle */
}

/* Text content styling */
.about-text {
  font-size: 22px; /* Font size */
  line-height: 1.6; /* Spacing between lines */
  margin-bottom: 20px; /* Space below paragraphs */
}